{% block myfav_buylist_cms_element %}
    <div class="myfav-buylist-cms-el">
        <h2>{{ $tc('myfav-buylist.elements.component.elementHeadline') }}</h2>
        <sw-alert variant="info">
            {{ $tc('myfav-buylist.elements.component.infoText') }}
        </sw-alert>
    </div>
{% endblock %}
